{% load static %}
<html lang="en">
  <head>
    <title>Portfolio{% block title %}{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <!-- animation when scroll -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    {% block css %} {% endblock %}
  </head>
  <body>
    <header>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos optio id
      earum aut sint eveniet iure dolorem, neque iusto aliquid totam minima,
      praesentium vel facere inventore perspiciatis mollitia dolorum eum!
    </header>
    <section>{% block content %} {% endblock %}</section>
    <footer>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
      reprehenderit nihil eum recusandae nobis repellat, assumenda doloremque
      itaque! Autem ad voluptas temporibus in dolor aspernatur eius saepe alias
      doloribus repellendus.
    </footer>
    {% block js %} {% endblock %}
    <!-- animation when scroll -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    s
  </body>
</html>
