{% extends 'layout/base-layout.html' %}
{% load static %} 
{% block title %} - index 
{% endblock title %} 
{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock css %} 
{% block content %}

<!-- section profile -->
<section class="section_profile">
  <article class="profile_main">
    <div class="profile_img">
      <img
        class="profile_thumbnail"
        src="https://picsum.photos/200/200.jpg"
        alt="profile"
      />
    </div>
    <div class="profile_desc">
      <h3 class="profile_name">Yemi Genderson</h3>
      <span class="profile_role"> Software Engineer </span>
      <div class="profile_social">
        <span><i class="fa-brands fa-github"></i></span>
        <span><i class="fa-brands fa-linkedin"></i></span>
        <span><i class="fa-brands fa-whatsapp"></i></span>
        <span><i class="fa-brands fa-facebook"></i></span>
      </div>
    </div>
  </article>
  <article class="section_stats">
    <div class="section_stats_items">
      <span>
        <span class="section_stats_number">10</span>
        <span class="section_stats_text"> years of work experience </span>
      </span>
    </div>
    <div class="section_stats_items">
      <span>
        <span class="section_stats_number">20+</span>
        <span class="section_stats_text"> completed projects </span>
      </span>
    </div>
    <div class="section_stats_items">
      <span>
        <span class="section_stats_number">10+</span>
        <span class="section_stats_text"> personal side projects </span>
      </span>
    </div>
  </article>
  <article class="section_btn" >
      <button class="btn_primary" >Download CV <i class="fa-solid fa-download"></i></button>
      <button class="btn_primary">Contact me</button>
  </article>
</section>

<!-- switch portfolio and skill -->
<section class="section_page">
  <button class="btn_primary">Portfolio</button>
  <button class="btn_primary">skill</button>
</section>
<!-- end switch portfolio and skill -->

<section class="section_content" >
  <!-- content portfolio -->
  <article class="content_portfolio">
    
    <div class="portfolio-item" >
      <div class="content_portfolio__img">
        <img src="https://picsum.photos/400/300" alt="">
      </div>
      <div class="content_portfolio__description">
        <h3>  any title </h3>
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis asperiores, eveniet laborum quidem quam consequatur? </p>
        <span>
          <a href="#" ><i class="fa-solid fa-link"></i></a>
        </span>
      </div>
    </div>

    <div class="portfolio-item" >
      <div class="content_portfolio__img">
        <img src="https://picsum.photos/400/300" alt="">
      </div>
      <div class="content_portfolio__description">
        <h3>  any title </h3>
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis asperiores, eveniet laborum quidem quam consequatur? </p>
        <span>
          <a href="#" ><i class="fa-solid fa-link"></i></a>
        </span>
      </div>
    </div>
          
  </article>
  <!-- end content portfolio -->

  <!-- content skill -->
  <article class="content_skill">
  </article>
  <!-- end content skill -->
</section>

{% endblock content %} 
{% block js %}
 {% endblock js %}
