// theme dark
$background_dark: #171F26;
$sub_text_dark: #A3ABB2;
$text_dark: #F1F2F4;
// theme light
$background_light: #E9EBEC;
$sub_text_light: #575757;
$text_light: #3D3D3D;

$background: $background_dark;
$sub_text: $sub_text_dark;
$text: $text_dark;

$primary: #FFE071;

$transition: all linear 0.5s