.section_profile {
  padding: 10px;
}
.section_profile .profile_main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-witdh: 576px) and (max-witdh: 767px) {
  .section_profile .profile_main {
    flex-direction: row;
  }
}
@media (min-witdh: 768px) and (max-witdh: 991px) {
  .section_profile .profile_main {
    flex-direction: row;
  }
}
.section_profile .profile_main .profile_img {
  padding: 3px;
  border: 6px dashed #FFE071;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  transition: border linear 5s;
  margin-bottom: 20px;
}
.section_profile .profile_main .profile_img:hover {
  border: 6px solid #FFE071;
}
.section_profile .profile_main .profile_img .profile_thumbnail {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}
.section_profile .profile_main .profile_desc {
  text-align: center;
}
.section_profile .profile_main .profile_desc .profile_name {
  font-size: 3em;
}
.section_profile .profile_main .profile_desc .profile_social {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_profile .profile_main .profile_desc .profile_social span {
  margin: 0 10px;
  font-size: 2em;
  cursor: pointer;
}
.section_profile .section_stats {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
.section_profile .section_stats_items {
  margin: 0 10px;
}
.section_profile .section_stats_items span {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.section_profile .section_stats_items span .section_stats_number {
  font: 1.9em;
}
.section_profile .section_btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
.section_profile .section_btn .btn_primary {
  width: 40%;
  margin: 0 20px;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  padding: 8px 13px;
  background-color: #FFE071;
  color: #000;
  border-radius: 5px;
}
.section_profile .section_btn .btn_primary:hover {
  cursor: pointer;
}

.section_page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}
.section_page div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.section_page div i {
  font-size: 2em;
}
.section_page div h3 {
  margin: 0 10px;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.section_content {
  margin-top: 10px;
}
.section_content .content_portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.section_content .content_portfolio .portfolio-item {
  position: relative;
  overflow: hidden;
  margin: 10px 0;
  height: 300px;
  width: 300px;
}
.section_content .content_portfolio .portfolio-item .content_portfolio__img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  background-clip: content-box;
}
.section_content .content_portfolio .portfolio-item .content_portfolio__description {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  transform: translateY(100%);
  height: 100%;
  background-color: rgba(255, 224, 113, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000;
  transition: transform linear 1s;
}
.section_content .content_portfolio .portfolio-item .content_portfolio__description h3 {
  text-transform: uppercase;
}
.section_content .content_portfolio .portfolio-item .content_portfolio__description p {
  margin: 10px 0px;
}
.section_content .content_portfolio .portfolio-item .content_portfolio__description span {
  padding: 5px;
  border-radius: 50%;
  background-color: #fff;
}
.section_content .content_portfolio .portfolio-item .content_portfolio__description span a:link,
.section_content .content_portfolio .portfolio-item .content_portfolio__description span a:visited,
.section_content .content_portfolio .portfolio-item .content_portfolio__description span a:focus,
.section_content .content_portfolio .portfolio-item .content_portfolio__description span a:hover,
.section_content .content_portfolio .portfolio-item .content_portfolio__description span a:active {
  color: #000;
}
.section_content .content_portfolio .portfolio-item:hover .content_portfolio__description {
  transform: translateY(0%);
}

.section-skills {
  display: flex;
  flex-direction: column;
}
@media (min-witdh: 576px) and (max-witdh: 767px) {
  .section-skills {
    display: flex;
    flex-direction: row;
  }
}
.section-skills .section-skill {
  position: relative;
  margin: 10px auto;
  display: flex;
  height: 200px;
  width: 300px;
  overflow: hidden;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  color: #000;
}
.section-skills .section-skill .skill-circle {
  position: absolute;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  height: 300px;
  width: 300px;
  opacity: 0.5;
}
.section-skills .section-skill .skill-content {
  z-index: 100;
}
.section-skills .section-skill .skill-content .skill-title {
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
}
.section-skills .section-skill .skill-content .skill-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.section-skills .section-skill .skill-content .skill-items .skill-item {
  margin: 0 3px;
}

/*# sourceMappingURL=index.css.map */
