// @import "vars";
@import 'mixins';
.theme-dark {
  @include applyDark();
  transition: $transition;
}
.theme-light{
  @include applyLight();
  transition: $transition;
}

.main_container {
  width: 80%;
  margin: auto;
  padding: 20px;
  position: relative;
  .main_header{
    position: relative;
    height: 80px;
    .btn_theme{
      @include btn;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      border-radius: 50%;
      padding: 10px;
      margin: 10px 0 ;
      i{
        font-size: 1.5em;
      }
    }
  }
  .main_footer {
    padding: 10px;
    text-align: center;
  }
  .btn_auth{
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    span{
      padding: 20px;
      background-color: $white;
      border-radius: 50%;
      margin: 8px;
      a:link, a:visited, a:focus, a:hover, a:active{
        color: $black;
      }

      i{
        font-size: 1.3em;
      }
    }
  }
}

